<div class="lost_form">
    <%= form_for(@sock) do |f| %>
    <% if @sock.errors.any? %>
    <div class= "error_messages">
      <h2> Form is invalid </h2>
      <ul>
        <% for message in @sock.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <h1>REPORT A SOCK MISSING:</h1>
      <%= f.label :size %>
      <select name="sock[size]">
        <option value="baby">BABY</option>
        <option value="small">SMALL</option>
        <option value="medium">MEDIUM</option>
        <option value="large">LARGE</option>
        <option value="giant">GIANT</option>
      </select>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <%= f.label :distinguishing_markings %>
    <%= f.text_field :distinguishing_markings %>
    <td id='report'><%=f.submit "Report" %>    
  <% end %>
</div>