
<h1 id='title'>This Socks</h1>

<div class='why'>
<p>
  Most of us feel safe that when we enter a building, we will eventually come out. When we put our orange juice in the fridge, we assume that it will be there next time we open the door. But for some things, life is less certain. 
</p>
<p>
  This website is dedicated to the socks that went into the dryer and never came out, and also to their owners-- to the ones who search ceaselessly, to the ones who wait patiently, and to the ones who just hope their lost sock found a good home.
</p>
<p>
  Here is your opportunity to tell the world of your loss-- and maybe, just maybe, someone will be able to find you the answer-- and the sock-- you've been seeking.
</p>
<p>Until then, we know: this socks.</p>
</div>

<%= render 'form' %>

<h2>Have you seen these socks?</h2>
<table>
      <thead>
        <tr>
          <th> Size </th>
          <th> Color </th>
          <th> Distinguishing markings</th>
          <th> </th>
          <th></th>
        </tr>
      </thead>
      <tbody> 
        <% @socks.each do |sock| %>
          <tr>
            <td id='size'><%= sock.size %></td>
            <td id='color'><%= sock.color %></td>
            <td id='dm'><%= sock.distinguishing_markings %></td>
            <% if sock.status == "Found" %>
            <td id='status_found'>< This sock has been found ></td>
            <% else %>
            <td id='found_button'><%= button_to "I found it!", 
              mark_found_path(sock.id), :method => :mark_found %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
</table>

